# HTTP
PORT=3000

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200

# Redis
REDIS_URL=redis://localhost:6379

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_URL=amqp://guest:guest@localhost:5672